<div data-bind="component: {
    name: resultComponent,
    params: {
      itemComponent: resultItemComponent,
      selectedItems: selectedItems,
      open: showList,
      multiple: multiple,
      placeholder: placeholder,
      disabled: disabled,
      searchable: showResultSearch,
      clearable: clearable || multiple,
      query: query
    },

  },
  event: resultEvents,
  attr: {
    id: _id,
  }"></div>

<c-dropdown params="target: _id,
      className: 'c-select-dropdown',
      open: showList,
      dropdownParams: dropdownParams,
      modal: modal">
  <div class="c-select-dropdown__wrapper">
    <div class="c-select-dropdown__scroll" data-bind="bScrollable: scrollbar">
      <!-- ko if: showListSearch -->
      <div class="c-select-dropdown__search">
        <input type="text" data-bind="textInput: query">
      </div>
      <!-- /ko -->

      <!-- ko ifnot: filteredItems().length -->
      <!-- ko if: query() -->
      Ничего не найдено
      <!-- /ko -->
      <!-- ko ifnot: query() -->
      Список пуст
      <!-- /ko -->
      <!-- /ko -->

      <div class="c-select-dropdown__list" data-bind="component: {
      name: listComponent,
      params: {
        itemComponent: listItemComponent,
        items: filteredItems,
        disabledItems: disabledItems,
        selectedItems: selectedItems,
        modal: modal
      },

    }, event: listEvents"></div>
    </div>

    <!-- ko if: modal -->
    <div class="c-select-dropdown__actions">
      <button type="button" class="c-select-dropdown__reset" data-bind="click: reset">Сбросить</button>
      <button type="button" class="c-select-dropdown__apply" data-bind="click: apply">Применить</button>
    </div>
    <!-- /ko -->

  </div>
</c-dropdown>