<div data-bind="component: {
    name: resultComponent,
    params: {
      itemComponent: resultItemComponent,
      selectedItems: selectedItems,
      open: showList,
      multiple: multiple,
      placeholder: placeholder,
      disabled: disabled
    },

  },
  event: resultEvents,
  attr: {
    id: _id,
  }"></div>

<c-dropdown params="target: _id,
      className: 'c-select-dropdown',
      open: showList,
      dropdownParams: dropdownParams,
      modal: modal">
  <div class="c-select-dropdown__wrapper">

    <div data-bind="component: {
      name: listComponent,
      params: {
        itemComponent: listItemComponent,
        items: filteredItems,
        disabledItems: disabledItems,
        selectedItems: selectedItems
      },

    }, event: listEvents"></div>

  </div>
</c-dropdown>